# Razorpay Credentials (from your dashboard settings)
RAZORPAY_KEY_ID=rzp_test_TD1URCZFZQYVar
RAZORPAY_KEY_SECRET=Cnet67kJGckHvtTDfb0BRo9W

# Optional webhook signature verification secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# MQTT configuration for sending notifications to ESP32
MQTT_BROKER=mqtt://broker.emqx.io
MQTT_PORT=1883

# Local port to run server
PORT=3000
